<form ng-submit="vm.login()">
	<div>
		<md-input-container class="loginForm-inputContainer">
			<label>Email</label>
			<input type="email" ng-model="vm.email">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="loginForm-inputContainer">
			<label>Password</label>
			<input type="password" ng-model="vm.password">
		</md-input-container>
	</div>
	<div>
		<a ui-sref="app.forgot_password">Forgot password?</a>
	</div>
	<div>
		<a ui-sref="app.register">Need account? Register</a>
	</div>
	<md-button type="submit" class="loginForm-submit md-primary md-raised">Log in</md-button>
</form>
