<form ng-submit="vm.register()">
	<div>
		<md-input-container class="registerForm-inputContainer">
			<label>Name</label>
			<input type="text" ng-model="vm.name">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="registerForm-inputContainer">
			<label>Email</label>
			<input type="email" ng-model="vm.email">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="registerForm-inputContainer">
			<label>Password</label>
			<input type="password" ng-model="vm.password">
		</md-input-container>
	</div>
	<div>
		<a ui-sref="app.login">Already have account? Login</a>
	</div>
	<md-button type="submit" class="registerForm-submit md-primary md-raised">Register</md-button>
</form>
