@import "./angular/material/project";

.header {
    height: 64px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow-y: hidden;
}

.header-container {
    height: 100%;
}

.header-logo {
    height: 25px;
}

.header-link {
    text-decoration: none;
    color: @black !important;
    padding: 0 20px;
    display: inline-block;

}

.header-link:hover {
    background-color: @background;
}

.header-sub-link {
    margin-top: 15px;
    margin-left: 20px;
}

.header-sub-link.text-link {
    margin-top: 22px;
}

.header-spacer {
    padding-top: 64px;
}
