<md-content class="Page-Container header">
	<div layout="row">
		<div flex="90" flex-offset="5" class="header-container">
			<div layout="row" layout-align="space-between">
				<a href="/" class="header-link"><h2>Larapp</h2></a>
				<div layout="row" layout-align="center stretch">
					<a href="https://bitbucket.org/formaldehid/" class="header-sub-link"><img class="header-logo" src="img/bitbucket-logo.svg" /></a>
					<a ng-if="isAuthenticated" ui-sref="app.logout" class="header-sub-link text-link">Logout</a>
				</div>
			</div>
		</div>
	</div>
</md-content>
<div class="DemoHeader-spacer"></div>
