

md-toast[md-theme=warn] .md-toast-content {
  background-color: #F44336;
}

[ui-view].ng-enter,
[ui-view].ng-leave {
  transition: opacity ease-in-out 200ms;
}
[ui-view].ng-enter,
[ui-view].ng-leave.ng-leave-active {
  opacity: 0;
}
[ui-view].ng-enter.ng-enter-active {
  opacity: 1;
}
.Page.ng-leave.ng-leave-active {
  display: none;
}

.u-center {
  text-align: center;
}

.forgotPassword-input {
  margin-bottom: 0;
}

.codeForm-inputContainer {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 80%;
  min-width: 600px;
}
.codeForm-submit {
  margin-bottom: 40px;
  margin-left: 0;
  width: 100%;
  padding: 5px 0;
}

.loginForm-inputContainer {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 80%;
  min-width: 300px;
}
.loginForm-submit {
  margin-bottom: 40px;
  margin-left: 0;
  width: 100%;
  padding: 5px 0;
}

.registerForm-inputContainer {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 80%;
  min-width: 300px;
}
.registerForm-submit {
  margin-bottom: 40px;
  margin-left: 0;
  width: 100%;
  padding: 5px 0;
}

.resetPassword-input {
  margin-bottom: 0;
}

.footer {
  text-align: center;
  background-color: #F6F9FA;
  border-top: 1px solid #E9F0F3;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #888888;
  font-weight: 300;
}
.footer-text {
  padding-top: 10px;
  opacity: 0.8;
  color: #888888;
}
.footer-link {
  text-decoration: none;
  color: #888888 !important;
  font-weight: 400;
}
.footer-link:hover {
  text-decoration: underline;
}

.ForgotPassword-formContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.header {
  height: 64px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow-y: hidden;
}
.header-container {
  height: 100%;
}
.header-logo {
  height: 25px;
}
.header-link {
  text-decoration: none;
  color: #535362 !important;
  padding: 0 20px;
  display: inline-block;
}
.header-link:hover {
  background-color: #F6F9FA;
}
.header-sub-link {
  margin-top: 15px;
  margin-left: 20px;
}
.header-sub-link.text-link {
  margin-top: 22px;
}
.header-spacer {
  padding-top: 64px;
}

body {
  font-family: 'Lato';
}
.landing-formContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.login-formContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.ResetPassword-formContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.Register-formContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

/*# sourceMappingURL=app.css.map */
