<md-content class="Page-container">
    <div class="landing-formContainer" layout="column" layout-align="center center">
        <h1 class="md-headline">Put html code without javascript</h1>
        <code-form></code-form>
    </div>
</md-content>
