<md-content class="Page-Container footer iOS-hack" layout-align="center center">
<br/>
<br/>
<div class="footer-text">
	An open source project by <a href="https://bitbucket.org/formaldehid/" class="footer-link" target="_blank">Marko Šabec</a>.
</div>
<div class="footer-text">
	&copy; 2016 Larapp
</div>
</md-content>
