@import "./angular/material/project";

.footer{
    text-align: center;
    background-color: @background;
    border-top: 1px solid @border;
    padding-top: 40px;
    padding-bottom: 40px;
    color: @grey;
    font-weight: 300;
}

.footer-text{
    padding-top: 10px;
    opacity: 0.8;
    color: @grey;
}

.footer-link{
    text-decoration: none;
    color: @grey !important;
    font-weight: 400;
}

.footer-link:hover{
    text-decoration: underline;
}