<form ng-submit="vm.submit()" class="forgotPassword-form">
    <div>
        <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="vm.email">
        </md-input-container>
        <md-button type="submit" class="md-primary md-raised">Submit</md-button>
    </div>
</form>
