<form ng-submit="vm.submit()">
    <div>
        <md-input-container class="codeForm-inputContainer">
            <label>Code</label>
            <textarea ng-model="vm.code"></textarea>
        </md-input-container>
    </div>
    <md-button type="submit" class="codeForm-submit md-primary md-raised">Submit</md-button>
</form>
<div class="landing-code">{{vm.submittedCode}}</div>